body {
    background-color: darkslategray;
    font-family: 'VT323', monospace;
    position: relative;
}

/* heading style */
h1 {
    color: ivory;
    display: flex;
    justify-content: center;
    font-size: 4em;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Rule button */
#ruleBtn {
    font-family: 'VT323', monospace;
    font-size: 2em;
    color: darkslategray;
    position: absolute;
    top: auto;
    left: 45%;
}

/* Rule button hover style */
#ruleBtn:hover,
#ruleBtn:focus {
    background-color: darkslategray;
    color: ivory;
}

/* Rules style */
.rules {
    display: none;
    background-color: gray;
    position: relative;
    z-index: 100;
    color: ivory;
}

/* Rules content */
.rule-content {
    background-color: gray;
    margin: auto;
    padding: 20px;
    border: 1px solid ivory;
    margin-bottom: 10px;
}

/* Rules for modal close button */
.close {
    color: black;
    float: right;
    font-size: 30px;
}

/* Game area style */
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}

.game-area {
    margin-top: 20px;
    background: darkslategray;
    border: 2px solid ivory;
}

.game-area h2 {
    color: ivory;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 30px;
}

/* Score area styles*/
.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.scores {
    color: ivory;
    display: inline-block;
    padding: 25px;
}

#win {
    color: cyan;
    font-weight: bold;
}

#loss {
    color: rgb(247, 103, 103);
    font-weight: bold;
}

/* Button styles */
.btn {
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    border-radius: 50%;
}

.btn:active,
.btn:hover {
    background-color: cadetblue;
}

/* 404 page style */
.container {
    text-align: center;
}

.error-img {
    width: 50%;
}

.footer {
    color: ivory;
}

/* Media query for small screens and mobile devices */
@media (max-width: 480px) {

    h1 {
        font-size: 2em;
    }
}